header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    margin: 0px;
    height: 65px;
    background: rgb(95, 59, 255);

    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(189, 178, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
}